@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(./home/navbar.css);
@import url(./home/hero.css);
@import url(./home/who-we-are.css);
@import url(./home/jessica-carvalho.css);
@import url(./home/services.css);
@import url(./home/testimonials.css);
@import url(./home/do-you-now.css);
@import url(./home/contact-us.css);
@import url(./home/footer.css);

:root{
    --dark-gold:#9C711B;
    --medium-gold: #DEC67E;
    --ligth-gold: #FFE1B2;

    --gold-text: #9C711B;
    --black-text: #000000;
    --white-text:#ffffff;

    --dark-background: #000000;
    --ligth-background: #ffffff;
    --medium-background: #DFDFDF;

    --shadow: rgba(0, 0, 0, 0.254);

    --hero-height: 94.0rem;
}

/* html reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

h1 {
    font-weight: bold;
    font-size: 4.8rem;
}

h2{
    font-weight: 600; /*semi bold*/
    font-size: 3.6rem;
    text-transform: uppercase;
}

h3{
    font-weight: 500; /*medium*/
    font-size: 2.4rem;
}

a{
    cursor: pointer;
}

p{
    font-weight: 400;
    font-size: 1.6rem;
}

header{
    padding: 0 3.6rem;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 100%;
}

section{
    margin: auto;
    width: 100%;
}

section:not(.hero){
    padding-bottom: 9.0rem;
    padding-top: 6.0rem;
    min-width: 128.0rem;
}

section h2 {
    text-align: center;
    margin-bottom: 6.0rem;
    margin-top: 3.0rem;
}

article:not(.hero-text){
    display: flex;
    gap: 6.0rem;
}

footer{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 128.0rem;
}

.header, footer {
    background-color: var(--dark-background);
    color: var(--white-text);
    display: flex;
    justify-content: center;
    width: 100%;
}

button{
    border-radius: 1.0rem;
    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--black-text);
    background-image: linear-gradient(
        to right, 
        var(--dark-gold) 25%,
        var(--ligth-gold),
        var(--dark-gold)75%
    );
    transition: 1s;
    cursor: pointer;
}

button:hover{
    background-image: linear-gradient(
        to right, 
        var(--dark-gold) -20%,
        var(--ligth-gold),
        var(--dark-gold)120%
    );
}

.action-button{
    width: 31.5rem;
    height: 6.0rem;
}