.testmonials{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testmonials h3 {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
}

.testmonials-card{
    width: 41.3rem !important;
    height: 19.5rem;
    border-radius: .5rem;
    padding: 4.0rem;
    margin: 7.0em 0 4.0rem 0;
    background-color: var(--medium-gold);
    box-shadow: .4rem .6rem 1.2rem var(--shadow);
    position: relative;
}

.testimonials-avatar{
    width: 10.8rem;
    height: 10.8rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: .3rem -0.1rem .33rem var(--shadow);
    position: absolute;
    top: -4rem;
    left: 3.0rem;
}

.testimonials-card-name{
    font-weight: 600 !important;
    font-size: 2.4rem !important;
    text-align: right !important;
}

.testmonials .action-button{
    margin-top: 3.0rem !important;
}